html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  min-height: 100vh;
}

#logo {
  background: lightgoldenrodyellow;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  padding: 20px;
  width: 100%;
  text-shadow: -3px 2px 8px pink, 4px 4px 8px yellow, 1px 10px 8px lightblue;
}

#nav-container {
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  padding-right: 5rem;
}
.nav-items {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  size: 12px;
  color: lightgrey;
}
.nav-items > li {
}
.nav-items > li:hover {
  background-color: lightgrey;
  color: rgb(16, 16, 16);
  border-radius: 3px;
}
.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 8px;
}
.nav-item a:hover {
  color: lightyellow;
  size: 2rem;
}
#main {
  display: flex;
  flex-direction: column;
  max-width: 850px;
}
.panel {
  width: 400px;
  align-self: flex-start;
  padding: 0 5rem;
}
.panel:nth-child(even) {
  /* background-color: blue; */
  align-self: flex-end;
}
.panel h2 {
  border-bottom: 5px solid rgb(91, 28, 28);
}

a.contactlink {
  color: darkblue;
  font-weight: bold;
}
a.contactlink:hover {
  color: darkRed;
}
